header{
   
    background-color: #568a9a;
    width: 100%;
    height: 400px;    
}
/* Debut du menu */
 nav{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: -10px;
    background-color:  rgb(239, 13, 13);;
    height: 10px;
    position: fixed;
    width: 100%;
    margin-left: -5px;
 }

nav h1{
 
 color: white;
 font-size: 2em;
 margin-top: -10px;
 }
 span{
    color: #29FF24;
 }

 .onglets a{
     text-decoration: none;
     margin-top: 50px;
     margin-left: 10px;
     margin-right: 30px;
     color:white;

 }
 .onglets a:hover{
    font-size: 20px;
    color: blue;
}
.entete{
    margin-left: 20px;
    margin-top: -300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    
}
.entete h2{
    margin-bottom: 

    
}
.entete button{
    border: 2px solid  rgb(239, 13, 13);
    padding: 8px;
    background-color: rgb(239, 13, 13);
    border-radius: 5px;
    color: white;
    
}
/* Parti A PROPOS */
.corp h1{
    text-align: center;
    margin-top: 80px;
    font-size: 3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.corp h6{
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: rgb(239, 13, 13);
    margin-top: 10px;
}
.amadou{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.img{
    width: 300px;
    height: 300px;
    border-radius: 7px;
}
.title{
    margin-top: 50px;
    margin-right:50px;
    padding: 20px;
}
.title h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.title button{
    padding: 15px 20px 15px 20px;
    margin-top: 30px;
    background-color:  rgb(239, 13, 13);
    border-radius: 7px;
    border: 2px solid rgb(239, 13, 13);
    color: white;
}
button:hover{
    background-color: white;
    color: rgb(239, 13, 13);
}

/*Fin de la Parti A PROPOS */

/* Debut de Travail */
.projets{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #d8ecef;
    margin-top: 40px;
}
.projets h1, h4{
    text-align: center;
    color: black;
}
.projets h1{
    margin-top: 20px;
    font-size: 3em;
}
.projet{
    display: flex;
    justify-content: space-between;
   
}
.projets h4{
  color: rgb(239, 13, 13);
  margin-top: -5px;  
}

.projet .cap{
    width: 300px;
    height: 300px;
    border-radius: 2%;
    margin: 40px;
    margin-top: 50px;
    background-color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 4px 0.3px 0.5px 0.4px rgb(7A,7A, 7A);
    
}
.projet .cap:hover{
    background-color: rgb(239, 13, 13);
}
.cap .cercle .imag{
    width: 120px;
    height: 120px;
    border-radius: 50%;
   margin-left: -5px;
   margin-top: -30px;
   margin-bottom: -10px;
   border: 4px solid rgb(239, 13, 13);
}
.cap .cercle{
    text-align: center;
    padding: 0px;
    margin-bottom: -30px;
    margin-top: -30px;
}
.cap .cercle .imag:hover{
    border: 4px solid rgb(243, 233, 233);
}
.cap p{
    margin-bottom: -70px;
    margin-left: 20px; 
    font-size: 1em;
}
.cercle h2{
    color: black;
}
/* Fin de Travail */

/* Debut de contact */
.contacts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#568a9a;
}

.contacts h1, h4{
    text-align: center;
}
.contacts h4{
    color: red;
    margin-top: -20px;
}
.contacts h1{
    font-size: 3em;
}
.contacts .contact{
    display: flex;
    justify-content: space-between;

}
.contact{
    margin-left: 70px;
}

.cod .h3{
    color: #fff;
    margin-left: 60px;    
}
.cod .h4{
    color: blue;
    margin-left: 60px;
    margin-top: -30px;
}
.cod h3 i{
    color: red;
    margin-right: 30px;
    font-size: 30px;
}
.cod h3{
    margin-left: 10px;
}
.cordon{display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 80px;
}
.cordon input{
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
}
.cordon .id{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
    
}
.cordon .id .matiere{
    margin-top: 10px;
    padding-bottom: 50px; 
}


.cordon button{
    padding: 10px 20px 10px 20px;
    margin-right: 300px;
    border-radius: 5px;
    background-color:rgb(239, 13, 13);
    border: 2px solid rgb(239, 13, 13);
    color: white;
    margin-bottom: 5px;

}
.cordon button:hover{
    background-color:white;
    color: rgb(239, 13, 13);
}
 
/* Fin de contact */

/* Debut de pied de page */
.pied{
    background-color: #000;
    height: 50px;
    color: white;
    text-align: center;
    margin-top: -20px;   
}
.pied p{
   
    font-size: 20px;
    padding: 10px;
}
/* Fin de pied de page */
